<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>xxx school search</title>
<script>
</script>
    </head>
    <body>
        <h1>xxx school search</h1>
        <span>Try to make a request the following URI, then you get a JSON response.</span>
        <h2>Grades</h2>
        <ul>
            <li>/1</li>
            <li>/2</li>
            <li>/3</li>
        </ul>
        <h2>Classes</h2>
        <ul>
        	<li>/1/1%E7%B5%84<span> ( &#39;%E7%B5%84&#39; is a URI encoded &#39;組&#39; )</span></li>
        	<li>/1/2%E7%B5%84</li>
        	<li>/1/3%E7%B5%84</li>
        </ul>
        <h2>Students</h2>
        <ul>
        	<li>/students</li>
        	<li>/students?kana=URI-encoded-kana&limit=0&offset=10<span> ( limit and offset are options. )</span></li>
        	<li>/students/id</li>
        </ul>
    </body>
</html>